<%- include("partials/header"); -%>

    <h1>Name:
        <%=name%>
    </h1>
    <p>From Station:
        <%=fst%>
    </p>
    <p>To Station:
        <%=tst%>
    </p>
    <p>Date:
        <%=date%>
    </p>
    <p>Mobile No:
        <%=mno%>
    </p>
    <p>Email:
        <%=email%>
    </p>
    <p>Train name:
        <%=tname%>
    </p>
    <h3>Booking Confirmed</h3>

    <%- include("partials/footer"); -%>